# Gradle
.gradle
build/

captures

/local.properties

# IntelliJ .idea folder
.idea/workspace.xml
.idea/libraries
.idea/caches
.idea/navEditor.xml
.idea/tasks.xml
.idea/modules.xml
.idea/compiler.xml
.idea/jarRepositories.xml
.idea/deploymentTargetDropDown.xml
.idea/misc.xml
.idea/androidTestResultsUserPreferences.xml
.idea/deploymentTargetSelector.xml
gradle.xml
*.iml

# General
.DS_Store
.externalNativeBuild

# Do not commit plain-text signing info
release/*.properties
release/*.gpg

# VS Code config
org.eclipse.buildship.core.prefs
.classpath
.project

# Temporary API docs
docs/api
package-list-coil-base

# Mkdocs temporary serving folder
docs-gen
site
*.bak

# Lint reports
lint-report.*
