[versions]
compose = "1.0.0-SNAPSHOT"
composesnapshot = "7535721" # a single character = no snapshot

# gradlePlugin and lint need to be updated together
gradlePlugin = "7.0.0-beta05"
lint = "30.0.0-beta05"

ktlint = "0.41.0"
kotlin = "1.5.10"
coroutines = "1.5.0"
okhttp = "3.12.13"
coil = "1.2.1"

androidxtest = "1.3.0"

[libraries]
compose-ui-ui = { module = "androidx.compose.ui:ui", version.ref = "compose" }
compose-ui-util = { module = "androidx.compose.ui:ui-util", version.ref = "compose" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose" }
compose-ui-test-junit4 = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose" }
compose-ui-test-manifest = { module = "androidx.compose.ui:ui-test-manifest", version.ref = "compose" }
compose-foundation-foundation = { module = "androidx.compose.foundation:foundation", version.ref = "compose" }
compose-foundation-layout = { module = "androidx.compose.foundation:foundation-layout", version.ref = "compose" }
compose-material-material = { module = "androidx.compose.material:material", version.ref = "compose" }
compose-material-iconsext = { module = "androidx.compose.material:material-icons-extended", version.ref = "compose" }

android-gradlePlugin = { module = "com.android.tools.build:gradle", version.ref = "gradlePlugin" }
gradleMavenPublishPlugin = "com.vanniktech:gradle-maven-publish-plugin:0.15.1"
metalavaGradle = "me.tylerbwong.gradle:metalava-gradle:0.1.8"

glide = "com.github.bumptech.glide:glide:4.12.0"

kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref = "kotlin" }
kotlin-stdlibJdk8 = { module = "org.jetbrains.kotlin:kotlin-stdlib-jdk8", version.ref = "kotlin" }
kotlin-gradlePlugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
kotlin-reflect = { module = "org.jetbrains.kotlin:kotlin-reflect", version.ref = "kotlin" }
kotlin-metadataJvm = "org.jetbrains.kotlinx:kotlinx-metadata-jvm:0.3.0"


kotlin-coroutines-android = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "coroutines" }
kotlin-coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "coroutines" }

dokka = "org.jetbrains.dokka:dokka-gradle-plugin:1.4.32"

okhttp-okhttp = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp" }
okhttp-mockWebServer = { module = "com.squareup.okhttp3:mockwebserver", version.ref = "okhttp" }

coil-coil = { module = "io.coil-kt:coil", version.ref = "coil" }
coil-gif = { module = "io.coil-kt:coil-gif", version.ref = "coil" }

androidx-appcompat = "androidx.appcompat:appcompat:1.3.0"
androidx-core = "androidx.core:core-ktx:1.5.0"
androidx-activity-compose = "androidx.activity:activity-compose:1.3.0-rc01"
androidx-fragment = "androidx.fragment:fragment-ktx:1.3.0"
androidx-dynamicanimation = "androidx.dynamicanimation:dynamicanimation-ktx:1.0.0-alpha03"
androidx-lifecycle-runtime = "androidx.lifecycle:lifecycle-runtime-ktx:2.3.0"
androidx-lifecycle-viewmodel-compose = "androidx.lifecycle:lifecycle-viewmodel-compose:1.0.0-alpha05"

napier = "io.github.aakira:napier:1.4.1"

androidx-test-core = { module = "androidx.test:core-ktx", version.ref = "androidxtest" }
androidx-test-runner = { module = "androidx.test:runner", version.ref = "androidxtest" }
androidx-test-rules = { module = "androidx.test:rules", version.ref = "androidxtest" }
androidx-test-orchestrator = { module = "androidx.test:orchestrator", version.ref = "androidxtest" }
androidx-test-uiAutomator = "androidx.test.uiautomator:uiautomator:2.2.0"

junit = "junit:junit:4.13"
truth = "com.google.truth:truth:1.1.2"
robolectric = "org.robolectric:robolectric:4.5.1"

affectedmoduledetector = "com.dropbox.affectedmoduledetector:affectedmoduledetector:0.1.2"

android-tools-build-gradle = { module = "com.android.tools.build:gradle", version.ref = "gradlePlugin" }
android-tools-lint-lint = { module = "com.android.tools.lint:lint", version.ref = "lint" }
android-tools-lint-api = { module = "com.android.tools.lint:lint-api", version.ref = "lint" }
android-tools-lint-tests = { module = "com.android.tools.lint:lint-tests", version.ref = "lint" }