[versions]
compose = "1.0.0-SNAPSHOT"
composesnapshot = "7392605" # a single character = no snapshot

ktlint = "0.40.0"
kotlin = "1.5.0"
coroutines = "1.5.0"
okhttp = "3.12.2"
coil = "1.1.1"

androidxtest = "1.2.0"

[libraries]
compose-ui-ui = { module = "androidx.compose.ui:ui", version.ref = "compose" }
compose-ui-util = { module = "androidx.compose.ui:ui-util", version.ref = "compose" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose" }
compose-ui-test-junit4 = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose" }
compose-ui-test-manifest = { module = "androidx.compose.ui:ui-test-manifest", version.ref = "compose" }
compose-foundation-foundation = { module = "androidx.compose.foundation:foundation", version.ref = "compose" }
compose-foundation-layout = { module = "androidx.compose.foundation:foundation-layout", version.ref = "compose" }
compose-material-material = { module = "androidx.compose.material:material", version.ref = "compose" }
compose-material-iconsext = { module = "androidx.compose.material:material-icons-extended", version.ref = "compose" }

android-gradlePlugin = "com.android.tools.build:gradle:7.0.0-beta02"
gradleMavenPublishPlugin = "com.vanniktech:gradle-maven-publish-plugin:0.13.0"
metalavaGradle = "me.tylerbwong.gradle:metalava-gradle:0.1.6"

glide = "com.github.bumptech.glide:glide:4.12.0"

kotlin-stdlib = { module = "org.jetbrains.kotlin:kotlin-stdlib", version.ref = "kotlin" }
kotlin-gradlePlugin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }

kotlin-coroutines-android = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "coroutines" }
kotlin-coroutines-test = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-test", version.ref = "coroutines" }

dokka = "org.jetbrains.dokka:dokka-gradle-plugin:1.4.30"

okhttp-okhttp = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp" }
okhttp-mockWebServer = { module = "com.squareup.okhttp3:mockwebserver", version.ref = "okhttp" }

coil-coil = { module = "io.coil-kt:coil", version.ref = "coil" }
coil-gif = { module = "io.coil-kt:coil-gif", version.ref = "coil" }

androidx-appcompat = "androidx.appcompat:appcompat:1.3.0-rc01"
androidx-core = "androidx.core:core-ktx:1.2.0"
androidx-core150 = "androidx.core:core-ktx:1.5.0-beta03"
androidx-activity-compose = "androidx.activity:activity-compose:1.3.0-alpha08"
androidx-fragment = "androidx.fragment:fragment-ktx:1.3.0"
androidx-dynamicanimation = "androidx.dynamicanimation:dynamicanimation-ktx:1.0.0-alpha03"
androidx-lifecycle-runtime = "androidx.lifecycle:lifecycle-runtime-ktx:2.3.0"
androidx-lifecycle-viewmodel-compose = "androidx.lifecycle:lifecycle-viewmodel-compose:1.0.0-alpha05"

napier = "io.github.aakira:napier:1.4.1"

androidx-test-runner = { module = "androidx.test:runner", version.ref = "androidxtest" }
androidx-test-rules = { module = "androidx.test:rules", version.ref = "androidxtest" }
junit = "junit:junit:4.13"
truth = "com.google.truth:truth:1.0.1"
